body {
    font-family: Helvetica;
}

header,
footer {
    background-color: #00838F;
    color: white;
    padding: 5px;
    font-size: 130%;
    text-align: center;
}


#lewy1,
#lewy2 {
    background-color: #EFEFEF;
    width: 55%;
    clear: left;
   
}

#lewy1 {
    height: 150px;
    float: left;
}

#lewy2 {
    height: 300px;
    float: left;
}

#prawy {
    background-color: #4FB3BF;
    height: 450px;
    width: 45%;
    text-align: center;
    float: right;
}

img {
    box-shadow: 10px 10px 7px DimGray;
    margin: 20px;
}

table,
th,
td {
    border: solid 1px;
    border-color: #4FB3BF;
    border-collapse: collapse;

}

table {
    width: 80%;
    margin: auto;
}

th,
td {
    padding: 4px;
}
footer{
    clear: both;
}
tr:hover{
    background-color: #4FB3BF;
}